/* ROOT VARIABLES */
:root {
  --color-primary: royalblue;
  --color-secondary: rgb(255, 255, 255);
  --color-tetiary: rgb(175, 175, 175);
  --color-success: rgb(0, 255, 0);
  --color-danger: rgb(255, 0, 0);
}

/* DEFAULT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

/* CONTAINER */
.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-secondary);
  display: flex;
  flex-wrap: wrap;
  position: fixed;
}

/* ASIDE */
.container aside {
  width: 20vw;
  height: 100vh;
  background-color: var(--color-primary);
  position: relative;
}

.container .header {
  display: flex;
  margin: 1rem;
  gap: 1rem;
  color: var(--color-secondary);
}

.container .header ion-icon {
  font-size: 25px;
}

.container .content {
  margin: 1rem 0;
  margin-left: 0.5rem;
}

.container .content ul {
  list-style: none;
  display: inline;
}

.container .content li a {
  display: flex;
  text-decoration: none;
  color: var(--color-secondary);
  gap: 0.5rem;
  width: 100%;
  height: 3rem;
  padding: 0.8rem 1rem;
  position: relative;
}

.container .content li:last-child {
  position: absolute;
  bottom: 0;
}

.container .content li a:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: ins;
}

.container .content li a p {
  padding: 0.2rem 0;
}

.container .content li a ion-icon {
  font-size: 22px;
}

/* MAIN */
.container main {
  width: 80vw;
  height: 100vh;
  background-color: var(--color-secondary);
  overflow-y: scroll;
}

.container main::-webkit-scrollbar {
  width: 15px;
  background-color: var(--color-secondary);
}

.container main::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 20px;
}

.container main header {
  width: 100%;
  height: 2.5rem;
  box-shadow: 0 5px 15px rgba(175, 175, 175, 0.3);
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--color-secondary);
}

.container main ion-icon {
  color: #000;
}

.container main #menu,
.container main #profile {
  font-size: 25px;
  cursor: pointer;
}

.container main .head-search {
  width: 50%;
  height: 1.8rem;
}

.container main .head-search input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  outline: none;
  background: transparent;
  border: 1px solid var(--color-tetiary);
  padding: 0 0.5rem;
  padding-left: 2rem;
  color: rgb(0, 0, 0)
}


.container main .head-search #search-icon {
  position: absolute;
  font-size: 20px;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  color: var(--color-tetiary);
}

.container main .padding {
  width: 100%;
  max-height: auto;
  padding: 1rem;
  margin-top: 2.5rem;
}

.container main .cards {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

.container main .cards .card {
  background-color: var(--color-secondary);
  width: calc(59rem / 4);
  display: flex;
  height: 6rem;
  box-shadow: 0 1px 3px var(--color-tetiary);
  border-radius: 5px;
  gap: 0.5rem;
  position: relative;
}

.container main .cards .card .review {
  margin-left: 2rem;
  margin-top: 1.2rem;
}

.container main .cards .card .review h1 {
  font-size: 35px;
  color: var(--color-primary);
}

.container main .cards .card .review h6 {
  color: var(--color-tetiary);
}

.container main .cards .card ion-icon {
  font-size: 40px;
  color: var(--color-tetiary);
  margin-top: 1.5rem;
  position: absolute;
  right: 2rem;
}

.container main .cards .card:hover ion-icon {
  transform: scale(1.2);
}

.container main .cards .card:hover {
  background-color: ghostwhite;
}

.container main .chart {
  width: 100%;
  height: auto;
  display: flex;
  gap: 2%;
}

.container main .chart>div {
  height: 20rem;
  background-color: var(--color-secondary);
  box-shadow: 0 1px 3px var(--color-tetiary);
  border-radius: 5px;
}

.container main .chart .graph:first-child {
  width: 68%;
}

.container main .chart .graph:last-child {
  width: 30%;
}

.container main .chart .graph>div {
  width: 90%;
}

.container main .chart .graph:last-child>div {
  height: 200px;
}

.container main .history {
  width: 100%;
  height: auto;
  display: flex;
  gap: 2%;
  margin-top: 1rem;
  position: relative;
}

.container main .history>section {
  height: 20rem;
  background-color: var(--color-secondary);
  box-shadow: 0 1px 3px var(--color-tetiary),
    0 1px 3px var(--color-tetiary),
    0 1px 3px var(--color-tetiary),
    0 1px 3px var(--color-tetiary);
  border-radius: 5px;
}

.container main .history>section:first-child {
  width: 68%;
  position: relative;
}

.container main .history>section:last-child {
  width: 30%;
  padding: 0.5rem 1rem;
  overflow-y: scroll;
}

.container main .history>section:last-child::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-secondary);
}

.container main .history>section:last-child::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 20px;
}

.container main .history>section:first-child div {
  width: 100%;
  height: auto;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container main .history>section div h3 {
  color: var(--color-primary);
}

.container main .history>section:first-child div a {
  background-color: var(--color-primary);
  text-decoration: none;
  color: var(--color-secondary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 11px;
}

.container main .history>section:first-child div a:hover {
  background-color: rgba(65, 105, 225, 0.5);
}

.container main .history>section:first-child table {
  width: 100%;
  height: auto;
  color: rgb(0, 0, 0);
  padding: 0 1rem;
  position: relative;
}

.container main .history>section:first-child table thead tr {
  font-weight: 700;
  font-size: 17px;
}

.container main .history>section:first-child table thead tr th:first-child {
  position: relative;
  left: -5.5rem;
}

.container main .history>section:first-child table tbody tr td:last-child {
  position: relative;
  left: 3rem;
}

.container main .history>section:first-child table tbody tr td:nth-child(3) {
  position: relative;
  left: 3.5rem;
}

.container main .history>section:first-child table tbody tr td:nth-child(2) {
  position: relative;
  left: 1.3rem;
}

.container main .history>section:last-child ul {
  color: #000;
  margin: 1rem 0;
}

.container main .history>section:last-child ul li {
  display: flex;
  color: #000;
  gap: 0.3rem;
  margin: 0.4rem 0;
}

.container main .history>section:last-child ul li div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--color-primary);
}

.container main .history>section:last-child ul li div:first-child h1 {
  color: var(--color-secondary);
}

.container main .history>section:last-child ul li div:last-child p {
  font-size: 13px;
}

@media screen and (max-width: 1000px) {
  .container main .padding {
    margin-top: 0.5rem;
  }

  .container main .chart>div {
    height: 23rem;
  }

  .container main .cards .card .review {
    margin-left: 1rem;
  }

  .container main .cards .card ion-icon {
    right: 1rem;
  }

  .container main .cards .card .review h1 {
    font-size: 30px;
  }

  .container main .chart .graph:first-child {
    width: 100%;
  }

  .container main .chart .graph:last-child {
    display: none;
  }

  .container main .history>section:first-child table thead tr {
    font-weight: 600;
  }

  .container main .history>section:first-child table thead tr th:first-child {
    left: -4rem;
  }

  .container main .history>section:first-child table tbody tr td:last-child {
    left: 2rem;
  }

  .container main .history>section:first-child table tbody tr td:nth-child(3) {
    left: 2rem;
  }

  .container main .history>section:first-child table tbody tr td:nth-child(2) {
    left: 0.8rem;
  }

  .container main .history>section:last-child ul li div:last-child {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 550px) {
  .container aside {
    width: 10vw;
    height: 100vh;
    background-color: var(--color-primary);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container .header {
    margin: 0.6rem 0.6rem;
  }

  .container .header h3 {
    display: none;
  }

  .container .header ion-icon {
    font-size: 20px;
  }

  .container .content {
    margin-top: 0.3rem;
  }

  .container .content li a ion-icon {
    font-size: 20px;
  }

  .container .content {
    margin-left: 0;
  }

  .container .content li a {
    padding: 0.8rem 0.6rem;
  }

  .container .content li a:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .container .content li a p {
    display: none;
  }

  .container main {
    width: 90vw;
  }

  .container main #menu,
  .container main #profile {
    font-size: 22px;
  }

  .container main .head-search {
    width: 70%;
    height: 1.6rem;
  }

  .container main .head-search #search-icon {
    font-size: 18px;
  }


  .container main .cards {
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: scroll;
    height: auto;
    padding: 0.5rem;
  }

  .container main .cards .card {
    width: calc(47rem / 4);
  }

  .container main .cards .card .review h1 {
    font-size: 28px;
  }

  .container main .chart>div {
    height: 10rem;
  }

  .container main .chart .graph>div {
    width: 95%;
    margin-left: -1.2rem;
  }

  .container main .history {
    flex-direction: column;
    gap: 1.5rem;
  }

  .container main .history>section {
    height: 21rem;
  }

  .container main .history>section:first-child {
    width: 100%;
    height: 15.5rem;
  }

  .container main .history>section:last-child {
    width: 100%;
    padding-top: 1rem;
  }

  .container main .history>section:first-child table thead tr {
    font-weight: 600;
    font-size: 15px
  }

  .container main .history>section:first-child table tbody tr {
    border: 3px solid red;
  }

  .container main .history>section:first-child table thead tr th:first-child {
    left: -1.8rem;
  }

  .container main .history>section:first-child table tbody tr td {
    font-size: 12px;
  }

  .container main .history>section:first-child table tbody tr td:last-child {
    left: 0.5rem;
  }

  .container main .history>section:first-child table tbody tr td:nth-child(3) {
    left: 0.5rem;
  }

  .container main .history>section:first-child table tbody tr td:nth-child(2) {
    left: 0.2rem;
  }
}

@media screen and (max-width: 400) {}
